@import "../common";

StackLayout {
  margin-left: 15;
  margin-right: 15;
  padding-bottom: 15;
  background-color: white;
}

.login-wrapper {
    margin-top: 200;
    height: 425;
}

Button {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10;
}

.text-link {
  color: $primary;
  text-align: center;
  text-decoration: underline;
}

.inline {
  display: inline;
}

GridLayout {
  .text-link {
    color: $third;
  }
}