.coverImage {
  background-image: url("res://bg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  Label {
    text-align: center;
    width: 100%;
    font-size: 35;
    margin-top: 35;
    color: red;

  }
  .slide-indicator-inactive {
    background-color: #fff;
    opacity: 0.4;
    width: 10;
    height: 10;
    margin-left: 2.5;
    margin-right: 2.5;
    margin-top: -200;
    border-radius: 5;
  }

  .slide-indicator-active {
    background-color: #fff;
    opacity: 0.9;
    width: 10;
    height: 10;
    margin-left: 2.5;
    margin-right: 2.5;
    margin-top: -200;
    border-radius: 5;
  }
}