@import '~nativescript-theme-core/scss/light';

$primary: #2979ff;
$third: #57c972;
$btn-color: $primary;

$link-text: $primary;

.fa {
  font-family: FontAwesome;
}



@import '~nativescript-theme-core/scss/index';
